body{
  background: rgb(37, 37, 37) ;
}
#listMusic{
  overflow-y: scroll;
  height:500px;
}
#header{
  height: 50px;
}
.list-group-item{
  background: rgb(26, 26, 26);
  color:white;
}
.list-group-item:focus{
  background: grey;
  color:white;
}
.list-group-item:hover{
  background: grey;
  color:white;
}
